<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>incogNex</title>
  </head>
  <body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" enctype="multipart/form-data">
      <input name="listing[title]" placeholder="enter title" type="text" required />
      <br /><br />
      <textarea
        name="listing[description]"
        placeholder="enter description"
        required
      ></textarea>
      
      
      <br> <br>
      <label for="image" class="form-label">Upload Image</label>
      <input
      name="listing[image]"
      class="form-control"
      type="file"
    />
      <br /><br />
      <input name="listing[price]" placeholder="enter price" type="number" />
      <br /><br />
      <input name="listing[country]" placeholder="enter country" type="text" />
      <br /><br />
      <input
        name="listing[location]"
        placeholder="enter location"
        type="text"
        required
      />
      <br /><br />
      <button>Add</button>
    </form>
  </body>
</html>
